<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lucky.mapper.UserEntityMapper">
    <select id="getUserEntity" resultType="java.lang.Integer">
        select count(*) from UserMaster where user_id = #{id} and user_password = #{pwd}
    </select>
</mapper>